################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FeatureApp/.vs/FeatureApp
/FeatureApp/FeatureApp.Api/bin/Release/netcoreapp3.1
/FeatureApp/FeatureApp.Api/obj
/FeatureApp/FeatureApp.Api/Api.csproj.user
/FeatureApp/FeatureApp.Common/bin/Release/netcoreapp3.1
/FeatureApp/FeatureApp.Common/obj
/FeatureApp/FeatureApp.Core/bin/Release/netcoreapp3.1
/FeatureApp/FeatureApp.Core/obj
/FeatureApp/FeatureApp.Dependancies/bin/Release/netcoreapp3.1
/FeatureApp/FeatureApp.Dependancies/obj
/FeatureApp/FeatureApp.Infrastructure/bin/Release/netcoreapp3.1
/FeatureApp/FeatureApp.Infrastructure/obj
/FeatureApp/Tests/FeatureApp.Acceptance.Tests/obj
/FeatureApp/Tests/FeatureApp.Acceptance.Tests/bin/Debug/netcoreapp3.1
/FeatureApp/Tests/FeatureApp.Api.Tests/obj
/FeatureApp/Tests/FeatureApp.Api.Tests/bin
/FeatureApp/Tests/FeatureApp.Common.Tests/obj
/FeatureApp/Tests/FeatureApp.Infrastructure.Tests/obj
/FeatureApp/FeatureApp.Api/bin/Debug/netcoreapp3.1
/FeatureApp/FeatureApp.Common/bin/Debug/netcoreapp3.1
/FeatureApp/FeatureApp.Core/bin/Debug/netcoreapp3.1
/FeatureApp/FeatureApp.Dependancies/bin/Debug/netcoreapp3.1
/FeatureApp/FeatureApp.Infrastructure/bin/Debug/netcoreapp3.1
/FeatureApp/Tests/FeatureApp.Common.Tests/bin/Debug/netcoreapp3.1
/FeatureApp/Tests/FeatureApp.Infrastructure.Tests/bin/Debug/netcoreapp3.1
/FeatureApp/FeatureApp.Api/Properties/PublishProfiles
